@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --mango-burgundy: #5F1A17;
  --mango-olive: #3D4436;
  --mango-beige: #ECDAB7;
  --mango-black: #111111;
  --mango-white: #ffffff;
}

body {
  background: #ffffff;
  color: #111111;
  overflow-x: hidden;
}

.section-title {
  font-size: clamp(2.5rem, 5vw, 5rem);
  font-weight: 700;
}

.section-subtitle {
  color: #bfbfbf;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  width: max-content;
  animation: marquee 30s linear infinite;
}