@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #081223;
  color: white;
}

:root {
  --mango-primary: #ffb100;
  --mango-orange: #ff7a00;
  --mango-dark: #081223;
}

.section-title {
  font-size: 3rem;
  font-weight: 800;
}

.section-subtitle {
  color: #9ca3af;
}
